<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-custom">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <img class="decals" src="img/shapes.png">
        <ion-content class="menu" scroll="false">
            <div class="user">
                <div class="avatar" css-img-url="{{ $root.user.imgUrl }}" color="rgba(183, 183, 183, 0.42)"></div>
                <div class="welcome">
                    <div class="hello">hello</div>
                    <div class="name">
                        {{ $root.user.displayName }}
                    </div>
                </div>
            </div>
            <div class="menu-wrapper">
                <ion-list class="menu-list">
                    <ion-item ui-sref="app.dashboard" menu-close>
                        Dashboard
                    </ion-item>
                </ion-list>
            </div>
            <button class="button button-block button-assertive button-logout icon-left ion-log-out" ng-click="logout()">Logout</button>
        </ion-content>
    </ion-side-menu>
    <!-- END : Left Side Menu -->
    </ion-side-menu>
</ion-side-menus>
