$font-family-bold 						: 'OpenSans-Bold';
$font-family-bold-italic 				: 'OpenSans-BoldItalic';
$font-family-semibold 					: 'OpenSans-Semibold';
$font-family-semibold-italic 			: 'OpenSans-SemiboldItalic';
$font-family-regular 					: 'OpenSans-Regular';
$font-family-regular-italic 			: 'OpenSans-Italic';
$font-family-light 						: 'OpenSans-Light';
$font-family-light-italic 				: 'OpenSans-LightItalic';
