$theme-foreground						: #FFF;
$theme-overlay 							: rgba(0, 13, 20, 0.9);
$theme-background-alternate 			: rgba(216,216,216,0.3);

$font-family-bold 						: 'OpenSans-Bold';
$font-family-bold-italic 				: 'OpenSans-BoldItalic';
$font-family-medium 					: 'OpenSans-Semibold';
$font-family-medium-italic 				: 'OpenSans-SemiboldItalic';
$font-family-news 						: 'OpenSans-Regular';
$font-family-news-italic 				: 'OpenSans-Italic';
$font-family-book 						: 'OpenSans-Light';
$font-family-book-italic 				: 'OpenSans-LightItalic';