.landing {
    .user-desc {
        @extend .flexncenter;
        color: $theme-dark-blue;
        .user-avatar {
            float: left;
            @include circle(75px);
            object-fit: cover;
        }
        .welcome {
            text-transform: lowercase;
        }
    }
    .list-content {
        padding: 12px;
        .list {
            .estimator-card {
                background: $default-white;
                border-top: 1px solid $theme-gray;
                border-right: 1px solid $theme-gray;
                position: relative;
                margin: 12px 0;
                display: block;
                color: black;
                font-family: $font-family-light;
                &.activated {
                    background: $theme-light-grey;
                }
                .red {
                    background: $theme-red;
                    color: $theme-red;
                }
                .orange {
                    background: $theme-orange;
                    color: $theme-orange;
                }
                .green {
                    background: $theme-green;
                    color: $theme-green;
                }
                .card-indicator {
                    width: 7px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                }
                .card-content {
                    margin-left: 7px;
                    padding: 20px 12px;
                    .card-completion {
                        width: 75px;
                        height: 75px;
                        object-fit: contain;
                    }
                    .card-body {
                        margin-left: 20px;
                        flex: 1 0;
                        min-width: 0;
                        .card-title {
                            @include ellipsis();
                            font-size: 16px;
                            text-transform: capitalize;
                            padding-bottom: 5px;
                            font-family: $font-family-regular;
                        }
                        .content-sub {
                            padding-bottom: 7px;
                            i {
                                margin-right: 5px;
                            }
                            .date {
                                margin-right: 15px;
                            }
                        }
                    }
                }
                .card-footer {
                    font-family: $font-family-regular;
                    margin-left: 7px;
                    padding: 9px 20px;
                    background: rgba($theme-gray, 0.5);
                }
            }
        }
    }
}
