.bar.bar-custom {
    background-color: $theme-dark-blue;
    .back-text {
        display: none !important;
    }
    .title {
        color: $default-white;
    }
    .button.button-clear {
        color: $default-white;
    }
    .title {
        color: $theme-foreground;
        left: 40px !important;
        text-align: left;
        text-transform: uppercase;
    }
}